

<% if user_signed_in? %>


  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th> </th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
        <tr>
          <td>
<%= link_to friend.first_name + ' ' + friend.last_name, friend %>


          </td>
          
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
          
          
          
          
          
          <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
          
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary" %>

<br>
<br>


<div class="alert alert-dark" role="alert">
  Familiy Member of All User
</div>

  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Relation</th>
        <th>User Id ( who created ) </th>
      </tr>
    </thead>

    <tbody>
      <% @relatives.each do |relative| %>
        <tr>
          <td>
<%= link_to relative.name, relative %>


          </td>
          <td><%= relative.relation %></td>
          <td><%= relative.user_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

<h1>Hello World!</h1>
<% end %>

<div class="alert alert-dark" role="alert">
  All Users Of System
</div>
<div class="list-group">
  <% @user.each_with_index do |user, index| %>
      <a href="#"  class="<%= index == 0 ? "list-group-item list-group-item-action active" : "list-group-item list-group-item-action" %>"><%= user.email  %></a>
  <% end %>
</div>

<br><br>
<div class="alert alert-dark" role="alert">
  All Friends Of System
</div>
<div class="list-group">
  <% @friends.each_with_index do |friend, index| %>
      <a href="#" class="<%= index == 0 ? "list-group-item list-group-item-action active" : "list-group-item list-group-item-action" %>"><%= friend.email  %></a>
  <% end %>
</div>
